#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px
}

#container>div:not(.rows) {
    display: flex;
    flex-direction: column;
    background-color: #8ca0ff;
    width: auto;
    height: 50px;
    border: 1px solid;
}

.rows {
    height: 100px;
    border: 1px solid;
}